*{
    box-sizing: border-box;
}
/* work sans fonts */
.google-work-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.display-flex{
    display: flex;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* dark 02 color */
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;
}
/* dark 03 color */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* header styles*/

header{
    height: 1230px;
}
/* navber related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links li{
    margin-right: 20px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar, .banner, .teams{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}
.navbar h3{
    font-weight: 700;
    font-size: 45px;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4em;
}
.banner img{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
    margin: 70px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 70px;
    max-width: 530px;
}

.quick-list{
    font-weight: 500;
}
/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 8%;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
.feature-texts{
    padding-left: 5%;
}
/* sponsor related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 8%;
}
.sponsor-companys img{
    filter: grayscale(100%);
}

/* feature section related styles */
.features{
    gap: 140px;
}
.features img{
    margin-top: 40px;
}
#feature-section-id{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
#feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    
    border-radius: 8px;
}
.feature-card .fearuter-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
    width: 342px;
}
.experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
        width: 100%;
    }
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-companys{
        grid-template-columns: 1fr;
    }
    .facts-container, .sponsor-companys{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponsor-companys{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}

/* medium size device responsive styles */

@media screen  and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;

    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsor-companys, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}